{% extends 'base.html.twig' %}

{% block title %}RecipeLink - Accueil{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { ; padding: 2px 6px; }
    </style>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" style="background: #86d9ab !important;">
            <div class="container">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
                <span><i class="fa fa-bell"></i> {{ message }}</span>
            </div>
        </div>
    {% endfor %}
    <div class="jumbotron position-relative overflow-hidden text-center bg-light" style="background-image: url({{ asset ('/assets/img/2533.jpg') }});  background-repeat: no-repeat; background-size: cover;">
        <div class="col-md-6 p-lg-6 mx-auto my-6" style="padding-top:120px; padding-bottom:120px; line-height: 60px">
            <h1 class="display-4 font-weight-normal" >Que des recettes saines <span class="green"> avec des ingrédients sains </span></h1>
            <p class="lead font-weight-normal" style="margin-top:10px; margin-bottom:30px;">Une manière simple de partager vos recettes</p>
            <a class="btn btn-success btn-lg" href="{{ path('recipe_new')}}"><i class="fa fa-leaf"></i> Commencer</a>
        </div>
    </div>
    <section class="howWork text-center container-fluid" style="padding-top: 40px; padding-bottom: 40px; width: 80%;">
        <h4>Dernières recettes</h4>
        <div class="row text-center" style="margin-top:80px;">
                {% for recipe in recipes %}
                    {% include 'recipe/_recipe.html.twig' %}
                {% endfor %}
        </div>
    </section>
    <section class="block-regime" style="background-image: url({{ asset ('/assets/img/select-program-background.jpg') }});  background-repeat: no-repeat; background-size: cover;">
       <div class="container">
           <div class="row">
               <div class="col-6">
                   <figure style="margin-left:-140px;">
                       <img src="{{ asset('/assets/img/select-program-image.png') }}" height="420rem"/>
                   </figure>
               </div>
               <div class="col-6 regime-link">
                   <h2>Quel régime suivez-vous ?</h2>
                   <a href="{{path('paleo_recipe')}}" class="btn btn-success btn-block btn-outline-success"> Paléovore </a>
                   <a href="{{path('vegetarien_recipe')}}" class="btn btn-success btn-block btn-outline-success"> Végétarien </a>
                   <a href="{{path('vegetalien_recipe')}}" class="btn btn-success btn-block btn-outline-success"> Végétalien </a>
                   <a href="{{path('vegan_recipe')}}" class="btn btn-success btn-block btn-outline-success"> Végan </a>
               </div>
           </div>
       </div>
    </section>
    <section class="block-blog text-center container-fluid mt-5" style="padding-top: 40px; padding-bottom: 40px; width: 80%;">
        <h4 class="mb-5">Dernièrs articles</h4>
        <div class="row text-center" style="margin-top:80px;">
           <div class="col-4">
               <div class="card text-center">
                   <div class="card-header">
                       CATÉGORIE : PALÉO
                   </div>
                   <img class="card-img-top" src="{{ asset('/assets/img/2873066.jpg')}}" alt="recette">
                   <div class="card-body">
                       <h5 class="card-title">Special title treatment</h5>
                       <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
                   <div class="card-footer text-muted">
                       2 days ago
                   </div>
               </div>
           </div>
           <div class="col-4">
               <div class="card text-center">
                   <div class="card-header">
                       CATÉGORIE : PALÉO
                   </div>
                   <img class="card-img-top" src="{{ asset('/assets/img/2873066.jpg')}}" alt="recette">
                   <div class="card-body">
                       <h5 class="card-title">Special title treatment</h5>
                       <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
                   <div class="card-footer text-muted">
                       2 days ago
                   </div>
               </div>
           </div>
           <div class="col-4">
               <div class="card text-center">
                   <div class="card-header">
                       CATÉGORIE : PALÉO
                   </div>
                   <img class="card-img-top" src="{{ asset('/assets/img/2873066.jpg')}}" alt="recette">
                   <div class="card-body">
                       <h5 class="card-title">Special title treatment</h5>
                       <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
                   <div class="card-footer text-muted">
                       2 days ago
                   </div>
               </div>
           </div>
        </div>
    </section>
<section class="block-newsletter text-center container-fluid mt-5" style="padding-top: 40px; padding-bottom: 40px; background: #f7f7f7">
    <img src="{{ asset ('/assets/img/paper-plane.png') }}" alt="" height="200px;">

    </div>
    <h4>Restez informé(e)</h4>
    <h5 class="mt-2">Vous souhaitez recevoir les nouvelles recettes par mail ?</h5>
    <div class="container" style="width:40rem;">
        <iframe width="540" height="305" src="https://e319caef.sibforms.com/serve/MUIEAPp8HwrpPpJdgDhdQkGG0bCqiBtNoK-L59Vle-q86ZyE9yEip7TdZln0U8opR_7SY65Y_7W-BA_-yNuK5B4UMoTAG9gU_cVCaann1zOTToPUCLJBviiUVk1XO_lq14zITBMWpxPCgs5jBEIlYLGB9ZPAO-L_C5AgP7bUbWGv5UobW6JgAXyB8wCPfytOr8watmjXqOSA_3DG" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
    </div>
</section>
{% endblock %}
