{% extends 'base.html.twig' %}

{% block title %}La cuisine de {{ profile.username }}{% endblock %}

{% block body %}
<div class="jumbotron text-center" style="background-image: url({{ asset ('/assets/img/background-user.jpg') }});  background-repeat: no-repeat; background-size:cover; background-position: center">
    <h1><i class="fa fa-user-circle"></i></h1>
    <div class="typography-line"><h2>La cuisine de {{ profile.username }}</h2></div>
    {% if profile.regime != null %} <h6 class="card-regime mt-3">Régime : {{ profile.regime }}</h6>{% else %}{% endif %}
    <div class="container social-media">
        <div class="row">
            <div class="col-3">
                {% if profile.facebook != null %}<a href="{{ profile.facebook }}" class="facebook sharrre btn-round ml-2 btn btn-github-bg"><i class="fa fa-facebook-square"></i> Facebook</a>  </h6>{% else %}{% endif %}
            </div>
            <div class="col-3">
                {% if profile.instagram != null %} <a href="{{ profile.instagram }}" class="instagram sharrre btn-round ml-2 btn btn-github-bg"><i class="fa fa-instagram"></i> Instagram</a>{% else %}{% endif %}
            </div>
            <div class="col-3">
                {% if profile.pinterest != null %} <a href="{{ profile.pinterest }}" class="pinterest sharrre btn-round ml-2 btn btn-github-bg"><i class="fa fa-pinterest-square"></i> Pinterest</a></h6>{% else %}{% endif %}
            </div>
            <div class="col-3">
                {% if profile.snapchat != null %} <a href="{{ profile.snapchat }}" class="snapchat sharrre btn-round ml-2 btn btn-github-bg"><i class="fa fa-snapchat-square"></i> Snapchat</a></h6>{% else %}{% endif %}
            </div>
        </div>
    </div>
</div>

    <div class=""><div class="container-fluid text-center" style="width: 80%;">
            <div class="row">
                {% for recipe in profilRecipes %}
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="card">
                            <a href="{{ path('recipe_show', {'slug': recipe.slug}) }}"><img class="card-img-top" src="{{ asset('uploads/recipes/' ~ recipe.picture) }}" alt="recette {{ recipe.name }}"> </a>
                            <div class="top-right"><label class="label label-danger">{{ recipe.type }}</label></div>
                            <div class="top-left"><span class="like label-warning"> <i class="fa fa-heart" aria-hidden="true"></i> {{ recipe.likes|length }}</span></div>
                            <div class="card-body">
                                <h6 class="card-regime">Régime : {{ recipe.regime }}</h6>

                                <h5 class="card-title">{{ recipe.name }}</h5>
                                <p class="card-text">
                                    {% for tag in recipe.tags %}
                                        <span class="tags">
                                                <label class="label label-default mr-1">#{{ tag.name }}</label>
                                            </span>
                                    {% endfor %}
                                </p>
                                <a href="{{ path ('recipe_show', {'slug': recipe.slug })}}" class="btn btn-success">Voir la recette</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination justify-content-center">
                {{ knp_pagination_render(profilRecipes) }}
            </div>
        </div>
    </div>

{% endblock %}
