<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card">
        <a href="{{ path('recipe_show', {'slug': recipe.slug}) }}"><img class="card-img-top" src="{{ asset('uploads/recipes/' ~ recipe.picture) }}" alt="recette {{ recipe.name }}"> </a>
        <div class="top-right"><label class="label label-danger">{{ recipe.type }}</label></div>
        <div class="top-left"><span class="like label-warning"> <i class="fa fa-heart" aria-hidden="true"></i> {{ recipe.likes|length }}</span></div>
        <div class="card-body">
            <span class="statut mb-3">
                {% if recipe.publish == false %}
                    <div class="statut-i" data-toggle="popover" data-placement="top" title="" data-content="Recette en cours de traitement.">statut : <i class="fa fa-eye"></i>
                    </div> {% else %} <div class="statut-i" data-toggle="popover" data-placement="top" title="" data-content="Votre recette a été validé">statut : <i class="fa fa-check"></i>
                    </div>  {% endif %}
            </span>
            <h6 class="card-regime mt-3">Régime : {{ recipe.regime }}</h6>

            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">
                {% for tag in recipe.tags %}
                    <span class="tags">
                        <label class="label label-default mr-1">#{{ tag.name }}</label>
                    </span>
                {% endfor %}
            </p>
            <a href="{{ path ('recipe_show', {'slug': recipe.slug })}}" class="btn btn-success">Voir la recette</a>
            {% if  app.user and app.user == recipe.user %}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteRecipe">
                    <i class="fa fa-trash"></i>
                </button>

            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="deleteRecipe" tabindex="-1" role="dialog" aria-labelledby="deleteRecipeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Surpprimer la recette {{ recipe.name }}<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></h5>

            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer votre recette ? Cette action est irréversible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <a href="{{ path('recipe_delete', {'slug': recipe.slug}) }}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div>
