<div class="col-4">
    <div class="card">
        <img class="card-img-top" src="{{ asset('uploads/recipes/' ~ recipe.picture) }}" alt="recette {{ recipe.name }}">
        <div class="top-right"><span class="user"><i class="fa fa-user" aria-hidden="true"></i> {{ recipe.user.username }}</span></div>
        <div class="top-left"><span class="like"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> 320</span></div>
        <div class="bottom-left"><label class="label label-danger">{{ recipe.type }}</label></div>
        <div class="card-body">
            <h6 class="card-regime">Régime : {{ recipe.regime }}</h6>

            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">
                {% for tag in recipe.tags %}
                    <span class="tags">
                        <label class="label label-default mr-1">#{{ tag.name }}</label>
                    </span>
                {% endfor %}
            </p>
            <a href="{{ path ('recipe_show', {'id': recipe.id })}}" class="btn btn-success">Voir la recette</a>
        </div>
    </div>
</div>