{% extends 'base.html.twig' %}

{% block title %}Edit recette{% endblock %}

    {% block body %}
        <div class="content" style="background-image: url({{ asset ('/assets/img/2533.jpg') }}); background-repeat: no-repeat; background-size: cover;">
            <div class="background-recip" style="padding-top: 30px; padding-bottom: 30px; text-align: center; ">
            </div>
            <div class="formulaire container" style="max-width: 60%; margin:auto; padding: 50px; background: #fff;">
                <h1 class="text-center mb-5">Nouvelle recette</h1>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.picture) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ form_row(form.regime) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.dificulty) }}
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.time) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.timeUnity) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.part) }}
                    </div>
                </div>
                <hr/>

                {{ include('recipe/foods.html.twig', {'form': form.foods.vars.prototype}) }}
                {{ form_widget(form.foods)}}
                <hr/>
                {{ form_row(form.description) }}
                <hr/>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.protein)}}
                    </div>
                    <div class="col">
                        {{ form_row(form.glucide) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.lipide) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.calorie) }}
                    </div>
                </div>
                <hr/>
                {{ form_row(form.tags) }}
                <div class="button-form text-center">
                    <button class="btn btn-success btn-lg mt-4">{{ button_label|default('Ajouter') }}</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    {% endblock %}
{% block stylesheets %}
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script>
    $('select').select2();
</script>
{# Voici le script en question : #}

   <script>
            $('#recipe_picture').on('change',function(){
                //get the file name
                var fileName = $(this).val().replace('C:\\fakepath\\', " ");
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>
    <script>
			$('#recipe_picture').filestyle({
				buttonName : 'btn-danger',
                buttonText : ' File selection'
			});
</script>
{% endblock %}
