{% extends 'base.html.twig' %}

{% block title %}{{recipe.name}} | recette {{ recipe.regime }}{% endblock %}
{% block meta %}
    <meta property="og:url"           content="http://127.0.0.1:8000/recette/{{ recipe.id }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="RecipeLink - http://127.0.0.1:8000/recette/{{ recipe.id }}" />
    <meta property="og:description"   content="Recette {{ recipe.regime }} - {{ recipe.name }}" />
    <meta property="og:image"         content="https://127.0.0.1:800/recette/{{ recipe.picture }}" />
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" style="background: #86d9ab !important;">
            <div class="container">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
                <span><i class="fa fa-bell"></i> {{ message|raw }}</span>
            </div>
        </div>
    {% endfor %}
<div class="block-im-recipe text-center" style="background-image: url({{ asset ('/assets/img/select-program-background.jpg') }});  background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="image_header pt-5">
            <h1 class="images-title text-center">{{recipe.name}}</h1>
            <h6 class="card-regime">Régime : {{ recipe.regime }}</h6>
            <p class="card-text">
                {% for tag in recipe.tags %}
                    <span class="tags">
                        <label class="label label-default mr-1">#{{ tag.name }}</label>
                    </span>
                {% endfor %}
            </p>
            <div class="share-social-media mt-3 mb-3">
                {% if  app.user and app.user == recipe.user %}
                    <a href="{{ path('recipe_edit', {'slug': recipe.slug}) }}" class="btn btn-neutral">Modifier ma recette</a>
                    <a href="{{ path('recipe_delete', {'slug': recipe.slug}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre recette ?')"><i class="fa fa-times-circle"></i></a>
                {% endif %}
            </div>

            <div class="modal fade" id="shareInsta" tabindex="-1" role="dialog" aria-labelledby="PartageInstagram" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="PartageInstagram">Texte formater pour instagram
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></h5>
                        </div>
                        <div class="modal-body text-left">
                            <p>{{ recipe.name }}</p>
                            <br/>
                            <p>Ingrédients : </p>
                            {% for food in recipe.foods %}
                                <p>{{ food.quantity }} {{ food.quantityUnity }} {{ food.name }}</p>
                                </ul>
                            {% endfor %}
                            <br/>
                            <p>Préparation :</p>
                            <p>{{ recipe.description|raw }}</p><br>
                            <p>Valeur nutritionnelle :</p>
                            <p>{{ recipe.calorie }} kcal | {{ recipe.protein }} gr protéine | {{ recipe.glucide }} gr glucide | {{ recipe.lipide }} gr lipide</p>
                            <p>{% for tag in recipe.tags %}
                                #{{ tag.name }}
                                {% endfor %}
                                #recipelink @recipelink
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Copier</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-success mt-4">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col-3">
                            <p style="font-weight: bold;">Kcal : {{ recipe.calorie }}</p>
                        </div>
                        <div class="col-3">
                            <p style="font-weight: bold;">Protéine : {{recipe.protein }} gr</p>
                        </div>
                        <div class="col-3">
                            <p style="font-weight: bold;">Glucide : {{ recipe.glucide }} gr</p>
                        </div>
                        <div class="col-3">
                            <p style="font-weight: bold;">Lipide : {{ recipe.lipide }} gr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head-recip row">
                <div class="col-6 author">
                    <p>Recette proposée par : <a href="{{ path('kitchen_user', {'username': recipe.user.username}) }}"><span class="user"><i class="fa fa-user" aria-hidden="true"></i> {{ recipe.user.username }}</span></a></p>
                </div>
                <div class="col-6">
                    {% if is_granted('ROLE_USER') %}
                        {% if app.user and recipe.isSaveByUser(app.user) %}
                            <a href="{{ path('recipe_unsave', {'id': recipe.id}) }}" class="btn btn-round btn-danger "><i class="fa fa-bookmark-o"></i> Retirer la recette</a>
                        {% else %}
                            <a href="{{ path('recipe_save', {'id': recipe.id}) }}" class="btn btn-outline-danger btn-round"> <i class="fa fa-bookmark-o"></i>Enregistrer la recette</a>
                        {% endif %}
                        <a href="{{ path('recipe_like', {'id': recipe.id}) }}" class="btn btn-round btn-warning js-like">
                        {% if app.user and recipe.isLikeByUser(app.user) %}
                                <i class="fa fa-heart"></i>
                            {% else %}
                                <i class="fa fa-heart-o"></i>
                            {% endif %}
                            <span class="js-likes">{{ recipe.likes|length }}</span>
                            <span class="js-label">j'aime</span>
                        </a>

                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-round btn-warning btn-primary">
                                    <i class="fa fa-heart-o"></i>
                                <span class="js-likes">{{ recipe.likes|length }}</span>
                                <span class="js-label">j'aime</span>
                            </a>
                    {% endif %}
                </div>
            </div>
            <img class="img-responsive img-recipe" src="{{ asset('uploads/recipes/' ~ recipe.picture) }}" alt="recette {{ recipe.name }}">
        </div>
        <div class="more-info-recipe">
                <div class="row">
                    <div class="col-3">
                        <p><i class="fa fa-cutlery"></i> {{ recipe.type }}</p>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-hourglass-half" aria-hidden="true"></i> {{recipe.time }} {{ recipe.timeUnity }}</p>
                    </div>
                    <div class="col-3">
                        <p><i class="fa fa-users"></i> {{ recipe.part }} part</p>
                    </div>
                    <div class="col-3">
                        <p><i class="fa fa-signal"></i> {{ recipe.dificulty }}</p>
                    </div>
                </div>
            </div>
        <div class="explain-recip text-left mb-5">
            <div class="row">
                <div class="col-4">
                    <h4>Ingrédients</h4>
                    <div class="foods mt-4">
                        {% for food in recipe.foods %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {{ food.quantity }} {{ food.quantityUnity }} {{ food.name }}
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-8">
                    <h4>Préparation</h4>
                    <p class="text-justify text-left mt-4">
                        {{ recipe.description|raw }}
                    </p>
                </div>
            </div>
        </div>
        <button type="button" class="share-insta" data-toggle="modal" data-target="#shareInsta"><i class="fa fa-instagram" ></i> Partager</button>

        <div class="share-social-media mt-3 mb-5">
            <div class="sharethis-inline-share-buttons"></div>
        </div>
    </div>

        <div class="block-comment" style="background-image:url({{ asset('/assets/img/background-comment.jpg') }}); background-repeat: no-repeat; background-size: cover;">
           <div class="container">
               <h4 class="mb-4 text-center">Commentaires sur la recette {{ recipe.name }} <span class="label label-info"><i class="fa fa-comments"></i> {{ countComments|length }}</span></h4>
               <div class="section-comments m-auto" style="width: 70%;">
                   <div class="sharethis-inline-reaction-buttons"></div>
                   {% for commentaire in commentaires %}
                       <div class="block-commentaire mb-3">
                           <blockquote class="blockquote" style="background: white;">
                               <p class="mt-3">le {{ commentaire.createdAt|date('d/m/y') }} <span class="user"><i class="fa fa-user" aria-hidden="true"></i> {{ commentaire.user.username }}</span> a dit :</p>
                               <div class="blockquote-footer">
                               </div>
                               <p class="mb-0 text-left ml-5 mr-5 mt-2 mb-2"><i class="fa fa-quote-left"></i> {{ commentaire.content }} <i class="fa fa-quote-right"></i></p>
                               <br>
                           </blockquote>
                           {% else %}
                               <p>Aucun commentaire ici, soyez le premier !</p>
                            {% endfor %}
               <div class="pagination justify-content-center">
                   {{ knp_pagination_render(commentaires) }}
               </div>
               <div class="mt-4">
                       <div class="section-form-comment m-auto" style="background: #fff; padding:15px;">
                           {% if is_granted('ROLE_USER') %}
                               {{ form_start(form) }}
                               <p class="text-left"><span class="user"><i class="fa fa-user" aria-hidden="true"></i> {{ app.user.username }}</p>
                               {{ form_row(form.content) }}
                               <div class="button-form">
                                   <button class="btn btn-success btn-lg btn-block mt-4">{{ button_label|default('Donner mon avis') }}</button>
                               </div>
                               {{ form_end(form) }}
                           {% else %}
                                   <div class="section-comments m-auto" style="background: #fff; padding:15px;">
                                       <a href="{{ path('app_login') }}" class="btn btn-success btn-lg btn-block mt-4">Donner mon avis</a>
                                   </div>
                           {% endif %}
                   </div>
               </div>
           </div>
        </div>
</div>
        </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
