{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }}{% endblock %}

{% block body %}
    <div class="jumbotron text-center" style="background-image: url({{ asset ('/assets/img/background-user.jpg') }});  background-repeat: no-repeat; background-size:cover; background-position: center">
        <h1><i class="fa fa-user-circle"></i></h1>
        <div class="typography-line"><h2>La cuisine de {{ user.username}}</h2></div>
        {% if app.user == user %}<a class="btn btn-neutral mt-4" href="{{ path('user_edit') }}">Modifier mon profil</a>{% else %} {% endif %}
    </div>
<div class="nav-tabs-navigation container">
    <div class="nav-tabs-wrapper">
        <ul class="nav nav-tabs" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a href="{{ path('user_show') }}" class="nav-link">Mes informations</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('user_save_recipe') }}" class="nav-link">Recettes enregistrées</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('user_my_recipes') }}" class="nav-link">Mes recettes</a>
            </li>
        </ul>
    </div>
</div>

    {% if current_path == 'informations' %}
    <div class="tab-pane fade show active">

        <div class="container mb-5 user-informations">
            <div class="row">
                <div class="col">
                    <label class="mb-4">Informations de compte</label>
                    <p><strong>Email</strong> : {{ user.email }}</p>
                    <p><strong>Regime alimentaire</strong> : {{ user.regime }}</p>
                </div>
                <div class="col">
                    <label>Réseaux sociaux
                        <p class="sub-label mb-4">Vous pouvez ajouter vos profils sur les différents réseaux sociaux<br>
                            pour inciter les utilisateurs à vous suivre.</p></label>
                    <p><strong>facebook</strong> : {{ user.facebook }}</p>
                    <p><strong>Instagram</strong> : {{ user.instagram }}</p>
                    <p><strong>Pinterest</strong> : {{ user.pinterest }}</p>
                    <p><strong>Snapchat</strong> : {{ user.snapchat }}</p>
                </div>
            </div>
        </div>
    </div>
    {% elseif current_path == 'saveRecipe' %}
        <div class=""><div class="container-fluid text-center" style="width: 80%;">
                <div class="row">
                    {% for saveRecipe in saveRecipes %}
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="{{ path('recipe_show', {'slug': saveRecipe.recipe.slug}) }}"><img class="card-img-top" src="{{ asset('uploads/recipes/' ~ saveRecipe.recipe.picture) }}" alt="recette {{ saveRecipe.recipe.name }}"> </a>
                                <div class="top-right"><label class="label label-danger">{{ saveRecipe.recipe.type }}</label></div>
                                <div class="top-left"><span class="like label-warning"> <i class="fa fa-heart" aria-hidden="true"></i> {{ saveRecipe.recipe.likes|length }}</span></div>
                                <div class="card-body">
                                    <h6 class="card-regime">Régime : {{ saveRecipe.recipe.regime }}</h6>

                                    <h5 class="card-title">{{ saveRecipe.recipe.name }}</h5>
                                    <p class="card-text">
                                        {% for tag in saveRecipe.recipe.tags %}
                                            <span class="tags">
                                                <label class="label label-default mr-1">#{{ tag.name }}</label>
                                            </span>
                                        {% endfor %}
                                    </p>
                                    <a href="{{ path ('recipe_show', {'slug': saveRecipe.recipe.slug })}}" class="btn btn-success">Voir la recette</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div class="container mb-4">
                                <p>Vous n'avez aucune recette enregistrée</p>
                            </div>
                    {% endfor %}
                </div>
                <div class="pagination justify-content-center">
                    {{ knp_pagination_render(saveRecipes) }}
                </div>
            </div>
        </div>
    {% elseif current_path == 'userRecipe' %}
        <div class=""><div class="container-fluid text-center" style="width: 80%;">
                <div class="row">
                    {% for recipe in userRecipes %}
                        {% include 'recipe/_recipesByUser.html.twig' %}
                    {% else %}
                        <div class="container mb-4">
                            <p>Vous n'avez partager aucune recette</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination justify-content-center">
                    {{ knp_pagination_render(userRecipes) }}
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
